@model Slider
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Jobs Grid</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Jobs</a></li>
                            <li class="breadcrumb-item active">Jobs Grid</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->


        <div class="row">
            <div class="col-lg-12">
                <div class="card job-filter">
                    <div class="card-body p-3">

                        <form class="row"  method="post" asp-area="admin" asp-controller="slider" asp-action="create" enctype="multipart/form-data"> 
                            @Html.AntiForgeryToken()
                            
                            <div class="col-md-2">
                                <label>
                                    Tittle
                                </label>
                                <input asp-for="Tittle" type="text" class="form-control" />
                                <span asp-validation-for="Tittle" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    Subtitle
                                </label>
                                <input asp-for="Subtitle" type="text" class="form-control" />
                                <span asp-validation-for="Subtitle" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    Description
                                </label>
                                <input asp-for="Description" type="text" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    LastPrice
                                </label>
                                <input asp-for="LastPrice" type="text" class="form-control" />
                                <span asp-validation-for="LastPrice" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    NewPrice
                                </label>
                                <input asp-for="NewPrice" type="text" class="form-control" />
                                <span asp-validation-for="NewPrice" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    Image
                                </label>
                                <input asp-for="ImgFile" type="file" class="form-control" />
                            </div>
                            <div class="col-md-2">
                               <button type="submit" class="btn btn-danger mt-3 btn-block">Add Database </button>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    Is Active
                                </label>
                                <input asp-for="IsCheck" class="form-check" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->


    </div>
</div><!-- End Page-content -->