       <!--Where do you want to go start-->
<div class="view" style="background-image: url('./img/dest_bg.jpg');">
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center ticketType">
                    <h1 class="h1-responsive font-weight-bold">Where  do you want to go? </h1>
                    <form>
                        <div class="row py-5">
                            <div class="col-lg-3 col-md-12 col-12">
                                <div class="inputWithIcon">
                                    <input type="text" class="form-control" placeholder=" ">
                                    <span>
                                        <i class="fas fa-map-marker-alt"></i>
                                        Where are you going?
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-12">
                                <div class="inputWithIcon">
                                    <input type="text" class="form-control c-datepicker" placeholder=" ">
                                    <span>
                                        <i class="fas fa-calendar-week"></i> Check in-Check out
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-12">
                                <div class="inputWithIcon">
                                    <input type="text" class="form-control" placeholder=" ">
                                    <span>
                                        <i class="fas fa-user"></i>1 Adult,1Room
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-12">
                                <button type="button" class="btn btn-warning">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Popular Destinations start-->
<section class="destpop">
    <div class="container">
        <h2 class="section-head">Popular Destinations</h2>
        <div class="row">
            <div class="col-md-4 col-lg-3 col-12">
                <div class="card">
                    <div>
                        <img src="~/img/baku.jpg" alt="Avatar" style="width:100%">
                    </div>
                    <div class="txtcard">
                        <h4>Baku</h4>
                        <p>Azerbaijan</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-12">
                <div class="card">
                    <div>
                        <img src="~/img/kiew.jpg" alt="Avatar" style="width:100%">
                    </div>
                    <div class="txtcard">
                        <h4>Kiew</h4>
                        <p>Ukraine</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-12">
                <div class="card">
                    <div>
                        <img src="~/img/tiblis.jpg" alt="Avatar" style="width:100%">
                    </div>
                    <div class="txtcard">
                        <h4>Tblisi</h4>
                        <p>Georgia</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-12">
                <div class="card">
                    <div>
                        <img src="~/img/kiew.jpg" alt="Avatar" style="width:100%">
                    </div>
                    <div class="txtcard">
                        <h4>Kiew</h4>
                        <p>Ukraine</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-12">
                <div class="card">
                    <div>
                        <img src="~/img/tiblis.jpg" alt="Avatar" style="width:100%">
                    </div>
                    <div class="txtcard">
                        <h4>Tblisi</h4>
                        <p>Georgia</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-12">
                <div class="card">
                    <div>
                        <img src="~/img/baku.jpg" alt="Avatar" style="width:100%">
                    </div>
                    <div class="txtcard">
                        <h4>Baku</h4>
                        <p>Azerbaijan</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-12">
                <div class="card">
                    <div>
                        <img src="~/img/baku.jpg" alt="Avatar" style="width:100%">
                    </div>
                    <div class="txtcard">
                        <h4>Baku</h4>
                        <p>Azerbaijan</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-12">
                <div class="card">
                    <div>
                        <img src="~/img/kiew.jpg" alt="Avatar" style="width:100%">
                    </div>
                    <div class="txtcard">
                        <h4>Kiew</h4>
                        <p>Ukraine</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-12">
                <div class="card">
                    <div>
                        <img src="~/img/tiblis.jpg" alt="Avatar" style="width:100%">
                    </div>
                    <div class="txtcard">
                        <h4>Tblisi</h4>
                        <p>Georgia</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-12">
                <div class="card">
                    <div>
                        <img src="~/img/baku.jpg" alt="Avatar" style="width:100%">
                    </div>
                    <div class="txtcard">
                        <h4>Baku</h4>
                        <p>Azerbaijan</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-12">
                <div class="card">
                    <div>
                        <img src="~/img/baku.jpg" alt="Avatar" style="width:100%">
                    </div>
                    <div class="txtcard">
                        <h4>Baku</h4>
                        <p>Azerbaijan</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-12">
                <div class="card">
                    <div>
                        <img src="~/img/baku.jpg" alt="Avatar" style="width:100%">
                    </div>
                    <div class="txtcard">
                        <h4>Baku</h4>
                        <p>Azerbaijan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Our Clients start-->
<div class="cover-wrapper">
    <h2 class="section-head">Our Clients</h2>
    <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">
        <!--Controls-->
        <div class="controls-top">
            <a class="btn-floating" href="#carousel-example-multi" data-slide="prev">
                <i class="fas fa-chevron-left"></i>
            </a>
            <a class="btn-floating" href="#carousel-example-multi" data-slide="next">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
        <!--/.Controls-->


        <div class="carousel-inner v-2" role="listbox">

            <div class="carousel-item active">
                <div class="col-12 col-lg-2 col-md-4">
                    <div class="client-inners">
                        <img src="http://www.digisport.co.za/wp-content/uploads/2014/09/Logo-702x336.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-12 col-lg-2 col-md-4">
                    <div class="client-inners">
                        <img src="https://fangalbert.com/wp-content/uploads/2018/02/monero-logo-coin.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-12 col-lg-2 col-md-4">
                    <div class="client-inners">
                        <img src="https://fangalbert.com/wp-content/uploads/2018/02/monero-logo-coin.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-12 col-lg-2 col-md-4">
                    <div class="client-inners">
                        <img src="https://fangalbert.com/wp-content/uploads/2018/02/monero-logo-coin.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-12 col-lg-2 col-md-4">
                    <div class="client-inners">
                        <img src="https://fangalbert.com/wp-content/uploads/2018/02/monero-logo-coin.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-12 col-lg-2 col-md-4">
                    <div class="client-inners">
                        <img src="https://fangalbert.com/wp-content/uploads/2018/02/monero-logo-coin.png" alt="" />
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script>

    $('.c-datepicker').pickadate();

    $('.carousel.carousel-multi-item.v-2 .carousel-item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < 7; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));
        }
    });
</script>