  <!--Where do you want to go start-->

<div class="view" style="background-image: url('./img/Bitmap.jpg');">
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center ticketType">
                    <h1 class="h1-responsive font-weight-bold">Where  do you want to go? </h1>
                    <form>
                        <div class="row py-5">
                            <div class="col-lg-3 col-md-12 col-12">
                                <div class="inputWithIcon">
                                    <input type="text" class="form-control" placeholder=" ">
                                    <span>
                                        <i class="fas fa-map-marker-alt"></i>
                                        Where are you going?
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-12">
                                <div class="inputWithIcon">
                                    <input type="text" class="form-control c-datepicker" placeholder=" ">
                                    <span>
                                        <i class="fas fa-calendar-week"></i> Check in-Check out
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-12">
                                <div class="inputWithIcon">
                                    <input type="text" class="form-control" placeholder=" ">
                                    <span>
                                        <i class="fas fa-user"></i>1 Adult,1Room
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-12">
                                <button type="button" class="btn btn-warning">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Main Layout-->
<section class="popular py-1">
    <div class="container">
        <h1 class="section-head">Popular Destinations</h1>
        <div class="row">
            <div class="col-md-6 col-lg-3 col-12">
                <div class="cityBox">
                    <img src="~/img/london.jpg" alt="">
                    <h3>London</h3>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-12">
                <div class="cityBox">
                    <img src="~/img/tokio.jpg" alt="">
                    <h3>Tokio</h3>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-12">
                <div class="cityBox">
                    <img src="~/img/greece.jpg" alt="">
                    <h3>Greece</h3>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-12">
                <div class="cityBox">
                    <img src="~/img/paris.jpg" alt="">
                    <h3>Paris</h3>
                </div>
            </div>
        </div>
        <center class="center">
            <a href="destinations.html" class="btn btn-warning"> More </a>
        </center>
    </div>
</section>


<section class="related  mb-4">
    <div class="container">
        <h1 class="section-head">Related tours</h1>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-12">
                <div class="card" style="width: 18rem;">
                    <div>
                        <img class="card-img-top" src="~/img/china.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">China Travel </h5>
                        <p class="card-text">City tours, Urban</p>
                        <div class="staredRating">
                            <div class="rating rating2">
                                <!--
                                -->
                                <a href="#5" title="Give 5 stars">★</a>
                                <!--
                                -->
                                <a href="#4" title="Give 4 stars">★</a>
                                <!--
                                -->
                                <a href="#3" title="Give 3 stars">★</a>
                                <!--
                                -->
                                <a href="#2" title="Give 2 stars">★</a>
                                <!--
                                -->
                                <a href="#1" title="Give 1 star">★</a>
                            </div>
                            <p>4 review</p>
                            <p><i class="far fa-clock"></i> 5 days</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-12">
                <div class="card" style="width: 18rem;">
                    <div>
                        <img class="card-img-top" src="~/img/venice.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Venice Travel </h5>
                        <p class="card-text">City tours, Urban</p>
                        <div class="staredRating">
                            <div class="rating rating2">
                                <!--
                                -->
                                <a href="#5" title="Give 5 stars">★</a>
                                <!--
                                -->
                                <a href="#4" title="Give 4 stars">★</a>
                                <!--
                                -->
                                <a href="#3" title="Give 3 stars">★</a>
                                <!--
                                -->
                                <a href="#2" title="Give 2 stars">★</a>
                                <!--
                                -->
                                <a href="#1" title="Give 1 star">★</a>
                            </div>
                            <p>4 review</p>
                            <p><i class="far fa-clock"></i> 5 days</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-12">
                <div class="card" style="width: 18rem;">
                    <div>
                        <img class="card-img-top" src="~/img/rio.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Rio de Janeiro Travel </h5>
                        <p class="card-text">City tours, Urban</p>
                        <div class="staredRating">
                            <div class="rating rating2">
                                <!--
                                -->
                                <a href="#5" title="Give 5 stars">★</a>
                                <!--
                                -->
                                <a href="#4" title="Give 4 stars">★</a>
                                <!--
                                -->
                                <a href="#3" title="Give 3 stars">★</a>
                                <!--
                                -->
                                <a href="#2" title="Give 2 stars">★</a>
                                <!--
                                -->
                                <a href="#1" title="Give 1 star">★</a>
                            </div>
                            <p>4 review</p>
                            <p><i class="far fa-clock"></i> 5 days</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <center class="center mt-4">
            <a href="#" class="btn btn-warning">More</a>
        </center>
    </div>
</section>

<section class="about">
    <div class="bgimgBox">
        <img src="~/img/bg-sea.jpg" alt="">
    </div>
    <div class="container">
        <div class="secondContainer mr-auto">
            <p>While you are traveling without a guide or group, you fully control where and how to spend your time. It's so wonderful to do, what you want. Is not it? Travel gives you an excellent excuse to discover and explore new interests in yourself. Traveling is a great way to meet new people. If you are from the category of tourists, it is often very easy to find groups of people who follow the same route as you.</p>
            <h2>Say hello to us</h2>
            <form>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <input type="text" class="form-control" placeholder="Full name">
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <input type="text" class="form-control" placeholder="E-mail address">
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <input type="text" class="form-control" placeholder="Phone number">
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <input type="text" class="form-control" placeholder="Interested in">
                    </div>
                </div>
                <button type="button" class="btn btn-warning">Send message</button>
            </form>
        </div>
    </div>
</section>
<script>
    $('.c-datepicker').pickadate();
</script>
<!--Main Layout-->
