<div class="ticket-reservation-warapper">
    <div class="ticket-reservation__header" style="background-image: url(img/Bitmap@2x.png)">
        <div class="ticket-reservation__header-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="ticket-reservation__header-item">
                            <div class="ticket-reservation__header-item-icon">
                                <i class="icon-c icon-transportation-up"></i> Departure
                            </div>
                            <h3>Rzaszow</h3>
                            <span>Poland</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="ticket-reservation__header-item">
                            <div class="ticket-reservation__header-item-icon">
                                <i class="icon-c icon-transportation-up"></i> Arrival
                            </div>
                            <h3>Warsaw</h3>
                            <span>Poland</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="ticket-reservation__header-item">
                            <div class="ticket-reservation__header-item-icon">
                                <i class="icon-c icon-user"></i> Passengers
                            </div>
                            <div class="ticket-reservation__header-passangers d-flex">
                                <div>
                                    <h3>2</h3>
                                    <span>Adults</span>
                                </div>
                                <div>
                                    <h3>1</h3>
                                    <span>Kid</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ticket-reservation-inner">
        <div class="container">
            <div class="ticket-reservation__slider-area">
                <div class="ticket-reservation__slider">
                    <div class="ticket-reservation__slider-heading d-flex justify-content-between">
                        <span>Rzeszov to Warsaw</span>
                        <a href="javascript:void(0)" class="ticket-reservation__slider-heading-hide">Hide <i class="fas fa-arrow-up"></i></a>
                    </div>
                    <div class="ticket-reservation__slider-wrap">
                        <div class="ticket-reservation__slider-item">
                            <div class="ticket-reservation__slider-item-top">
                                <span>Cheapest</span>
                            </div>
                            <div class="ticket-reservation__slider-item-bottom">
                                <small>Any date</small>
                            </div>
                            <input type="radio" name="ticket1" value="0">
                        </div>
                        <div class="ticket-reservation__slider-item">
                            <div class="ticket-reservation__slider-item-top">
                                <small>From</small>
                                <p>100$</p>
                            </div>
                            <div class="ticket-reservation__slider-item-bottom">
                                <small>Fri 4 Jun</small>
                            </div>
                            <input type="radio" name="ticket1" value="1">
                        </div>
                        <div class="ticket-reservation__slider-item">
                            <div class="ticket-reservation__slider-item-top">
                                <small>From</small>
                                <p>100$</p>
                            </div>
                            <div class="ticket-reservation__slider-item-bottom">
                                <small>Fri 4 Jun</small>
                            </div>
                            <input type="radio" name="ticket1" value="2">
                        </div>
                        <div class="ticket-reservation__slider-item">
                            <div class="ticket-reservation__slider-item-top">
                                <small>From</small>
                                <p>100$</p>
                            </div>
                            <div class="ticket-reservation__slider-item-bottom">
                                <small>Fri 4 Jun</small>
                            </div>
                            <input type="radio" name="ticket1" value="3">
                        </div>
                        <div class="ticket-reservation__slider-item">
                            <div class="ticket-reservation__slider-item-top">
                                <small>From</small>
                                <p>100$</p>
                            </div>
                            <div class="ticket-reservation__slider-item-bottom">
                                <small>Fri 4 Jun</small>
                            </div>
                            <input type="radio" name="ticket1" value="3">
                        </div>
                        <div class="ticket-reservation__slider-item">
                            <div class="ticket-reservation__slider-item-top">
                                <small>From</small>
                                <p>100$</p>
                            </div>
                            <div class="ticket-reservation__slider-item-bottom">
                                <small>Fri 4 Jun</small>
                            </div>
                            <input type="radio" name="ticket1" value="4">
                        </div>
                        <div class="ticket-reservation__slider-item">
                            <div class="ticket-reservation__slider-item-top">
                                <small>From</small>
                                <p>100$</p>
                            </div>
                            <div class="ticket-reservation__slider-item-bottom">
                                <small>Fri 4 Jun</small>
                            </div>
                            <input type="radio" name="ticket1" value="5">
                        </div>
                        <div class="ticket-reservation__slider-item">
                            <div class="ticket-reservation__slider-item-top">
                                <small>From</small>
                                <p>100$</p>
                            </div>
                            <div class="ticket-reservation__slider-item-bottom">
                                <small>Fri 4 Jun</small>
                            </div>
                            <input type="radio" name="ticket1" value="6">
                        </div>
                    </div>
                    <div class="ticket-reservation__slider">
                        <div class="ticket-reservation__slider-heading d-flex justify-content-between">
                            <span>Warsaw to Rzeszov</span>
                            <a href="javascript:void(0)" class="ticket-reservation__slider-heading-hide">Hide <i class="fas fa-arrow-up"></i></a>
                        </div>
                        <div class="ticket-reservation__slider-wrap">
                            <div class="ticket-reservation__slider-item">
                                <div class="ticket-reservation__slider-item-top">
                                    <span>Cheapest</span>
                                </div>
                                <div class="ticket-reservation__slider-item-bottom">
                                    <small>Any date</small>
                                </div>
                                <input type="radio" name="ticket" value="0">
                            </div>
                            <div class="ticket-reservation__slider-item">
                                <div class="ticket-reservation__slider-item-top">
                                    <small>From</small>
                                    <p>100$</p>
                                </div>
                                <div class="ticket-reservation__slider-item-bottom">
                                    <small>Fri 4 Jun</small>
                                </div>
                                <input type="radio" name="ticket" value="1">
                            </div>
                            <div class="ticket-reservation__slider-item">
                                <div class="ticket-reservation__slider-item-top">
                                    <small>From</small>
                                    <p>100$</p>
                                </div>
                                <div class="ticket-reservation__slider-item-bottom">
                                    <small>Fri 4 Jun</small>
                                </div>
                                <input type="radio" name="ticket" value="2">
                            </div>
                            <div class="ticket-reservation__slider-item">
                                <div class="ticket-reservation__slider-item-top">
                                    <small>From</small>
                                    <p>100$</p>
                                </div>
                                <div class="ticket-reservation__slider-item-bottom">
                                    <small>Fri 4 Jun</small>
                                </div>
                                <input type="radio" name="ticket" value="3">
                            </div>
                            <div class="ticket-reservation__slider-item">
                                <div class="ticket-reservation__slider-item-top">
                                    <small>From</small>
                                    <p>100$</p>
                                </div>
                                <div class="ticket-reservation__slider-item-bottom">
                                    <small>Fri 4 Jun</small>
                                </div>
                                <input type="radio" name="ticket" value="3">
                            </div>
                            <div class="ticket-reservation__slider-item">
                                <div class="ticket-reservation__slider-item-top">
                                    <small>From</small>
                                    <p>100$</p>
                                </div>
                                <div class="ticket-reservation__slider-item-bottom">
                                    <small>Fri 4 Jun</small>
                                </div>
                                <input type="radio" name="ticket" value="4">
                            </div>
                            <div class="ticket-reservation__slider-item">
                                <div class="ticket-reservation__slider-item-top">
                                    <small>From</small>
                                    <p>100$</p>
                                </div>
                                <div class="ticket-reservation__slider-item-bottom">
                                    <small>Fri 4 Jun</small>
                                </div>
                                <input type="radio" name="ticket" value="5">
                            </div>
                            <div class="ticket-reservation__slider-item">
                                <div class="ticket-reservation__slider-item-top">
                                    <small>From</small>
                                    <p>100$</p>
                                </div>
                                <div class="ticket-reservation__slider-item-bottom">
                                    <small>Fri 4 Jun</small>
                                </div>
                                <input type="radio" name="ticket" value="6">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ticket-reservation-list">
                    <div class="ticket-reservation-list__heading">
                        <div class="row">
                            <div class="col-lg-8 col-sm-6">
                                <span>294 Results soted by Cheapest</span>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="ticket-reservation-list__sort">
                                    <label for="sort">Sort by</label>
                                    <select id="sort" name="sort" class="form-control">
                                        <option value="0">Cheapest first</option>
                                        <option value="0">Cheapest first</option>
                                        <option value="0">Cheapest first</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ticket-reservation-list__item">
                        <div class="row">
                            <div class="col-lg-9 col-12">
                                <div data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="ticket-reservation-list__item-wrap">
                                    <div class="ticket-reservation-list__item-logo">
                                        <img src="~/img/ryanair.png" alt="ryanair" class="img-fluid">
                                    </div>
                                    <div class="ticket-reservation-list__item-dest">
                                        <span>Fri 4 Jun</span>
                                        <h2>Rzeszow</h2>
                                        <span>19:15</span>
                                    </div>
                                    <div class="ticket-reservation-list__item-time">
                                        <span>2h 45min</span>
                                        <div class="ticket-reservation-list__item-line"></div>
                                        <span class="text-green">Direct</span>
                                    </div>
                                    <div class="ticket-reservation-list__item-dest">
                                        <span>Fri 4 Jun</span>
                                        <h2>Warsaw</h2>
                                        <span>19:15</span>
                                    </div>
                                </div>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                        <div class="info-div">
                                            <img src="~/img/ryanair.png" alt="">
                                            <div class="flexible ">
                                                <div class="left">
                                                    <span>2h10</span>
                                                    <img src="~/img/distance.png" alt="">
                                                </div>
                                                <div class="right">
                                                    <p>
                                                        <span>20:05 </span>
                                                        <span>Warsaw</span>
                                                    </p>
                                                    <p>
                                                        <span>23:15 </span>
                                                        <span>IST Istanbul</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="bg-whit">
                                            <span>2h30</span>  <span>Connect in airport</span>
                                        </div>

                                        <div class="info-div">
                                            <img src="~/img/ryanair.png" alt="">
                                            <div class="flexible ">
                                                <div class="left">
                                                    <span>2h10</span>
                                                    <img src="~/img/distance.png" alt="">
                                                </div>
                                                <div class="right">
                                                    <p>
                                                        <span>20:05 </span>
                                                        <span>Warsaw</span>
                                                    </p>
                                                    <p>
                                                        <span>23:15 </span>
                                                        <span>IST Istanbul</span>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="arrive-info">
                                                <p>
                                                    <span>Arrives</span>: Sun, 9 Aug 2020
                                                    <span class="border"><span>
                                                </p>
                                                <p> <span>Journey duration:</span> 7h30</p>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="ticket-reservation-list__item-wrap">
                                    <div class="ticket-reservation-list__item-logo">
                                        <img src="~/img/ryanair.png" alt="ryanair" class="img-fluid">
                                    </div>
                                    <div class="ticket-reservation-list__item-dest">
                                        <span>Fri 4 Jun</span>
                                        <h2>Rzeszow</h2>
                                        <span>19:15</span>
                                    </div>
                                    <div class="ticket-reservation-list__item-time">
                                        <span>2h 45min</span>
                                        <div class="ticket-reservation-list__item-line"></div>
                                        <span class="text-green">Direct</span>
                                    </div>
                                    <div class="ticket-reservation-list__item-dest">
                                        <span>Fri 4 Jun</span>
                                        <h2>Warsaw</h2>
                                        <span>19:15</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12 ticket-reservation-list__item--border-l">
                                <div class="ticket-reservation-list__right">
                                    <ul>
                                        <li>Deals <span>1</span></li>
                                        <li>Transfers <span>Shelf</span></li>
                                        <li>Passengers <span>2 adults, 1kid</span></li>
                                        <li>Price <span class="price">55 $</span></li>
                                    </ul>
                                    <button class="btn btn-block">Select <i class="fas fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ticket-reservation-list__item">
                        <div class="row">
                            <div class="col-lg-9 col-12">
                                <div class="ticket-reservation-list__item-wrap">
                                    <div class="ticket-reservation-list__item-logo">
                                        <img src="~/img/ryanair.png" alt="ryanair" class="img-fluid">
                                    </div>
                                    <div class="ticket-reservation-list__item-dest">
                                        <span>Fri 4 Jun</span>
                                        <h2>Rzeszow</h2>
                                        <span>19:15</span>
                                    </div>
                                    <div class="ticket-reservation-list__item-time">
                                        <span>2h 45min</span>
                                        <div class="ticket-reservation-list__item-line"></div>
                                        <span class="text-green">Direct</span>
                                    </div>
                                    <div class="ticket-reservation-list__item-dest">
                                        <span>Fri 4 Jun</span>
                                        <h2>Warsaw</h2>
                                        <span>19:15</span>
                                    </div>
                                </div>
                                <div class="ticket-reservation-list__item-wrap">
                                    <div class="ticket-reservation-list__item-logo">
                                        <img src="~/img/ryanair.png" alt="ryanair" class="img-fluid">
                                    </div>
                                    <div class="ticket-reservation-list__item-dest">
                                        <span>Fri 4 Jun</span>
                                        <h2>Rzeszow</h2>
                                        <span>19:15</span>
                                    </div>
                                    <div class="ticket-reservation-list__item-time">
                                        <span>2h 45min</span>
                                        <div class="ticket-reservation-list__item-line"></div>
                                        <span class="text-green">Direct</span>
                                    </div>
                                    <div class="ticket-reservation-list__item-dest">
                                        <span>Fri 4 Jun</span>
                                        <h2>Warsaw</h2>
                                        <span>19:15</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12 ticket-reservation-list__item--border-l">
                                <div class="ticket-reservation-list__right">
                                    <ul>
                                        <li>Deals <span>1</span></li>
                                        <li>Transfers <span>Shelf</span></li>
                                        <li>Passengers <span>2 adults, 1kid</span></li>
                                        <li>Price <span class="price">55 $</span></li>
                                    </ul>
                                    <button class="btn btn-block">Select <i class="fas fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ticket-reservation-list__item">
                        <div class="row">
                            <div class="col-lg-9 col-12">
                                <div class="ticket-reservation-list__item-wrap">
                                    <div class="ticket-reservation-list__item-logo">
                                        <img src="~/img/ryanair.png" alt="ryanair" class="img-fluid">
                                    </div>
                                    <div class="ticket-reservation-list__item-dest">
                                        <span>Fri 4 Jun</span>
                                        <h2>Rzeszow</h2>
                                        <span>19:15</span>
                                    </div>
                                    <div class="ticket-reservation-list__item-time">
                                        <span>2h 45min</span>
                                        <div class="ticket-reservation-list__item-line"></div>
                                        <span class="text-green">Direct</span>
                                    </div>
                                    <div class="ticket-reservation-list__item-dest">
                                        <span>Fri 4 Jun</span>
                                        <h2>Warsaw</h2>
                                        <span>19:15</span>
                                    </div>
                                </div>
                                <div class="ticket-reservation-list__item-wrap">
                                    <div class="ticket-reservation-list__item-logo">
                                        <img src="~/img/ryanair.png" alt="ryanair" class="img-fluid">
                                    </div>
                                    <div class="ticket-reservation-list__item-dest">
                                        <span>Fri 4 Jun</span>
                                        <h2>Rzeszow</h2>
                                        <span>19:15</span>
                                    </div>
                                    <div class="ticket-reservation-list__item-time">
                                        <span>2h 45min</span>
                                        <div class="ticket-reservation-list__item-line"></div>
                                        <span class="text-green">Direct</span>
                                    </div>
                                    <div class="ticket-reservation-list__item-dest">
                                        <span>Fri 4 Jun</span>
                                        <h2>Warsaw</h2>
                                        <span>19:15</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12 ticket-reservation-list__item--border-l">
                                <div class="ticket-reservation-list__right">
                                    <ul>
                                        <li>Deals <span>1</span></li>
                                        <li>Transfers <span>Shelf</span></li>
                                        <li>Passengers <span>2 adults, 1kid</span></li>
                                        <li>Price <span class="price">55 $</span></li>
                                    </ul>
                                    <button class="btn btn-block">Select <i class="fas fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="~/js/main.js"></script>
