  <!--Where do you want to go start-->
<div class="view" style="background-image: url('./img/dest_bg.jpg');">
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center ticketType">
                    <h1 class="h1-responsive font-weight-bold">Where  do you want to go? </h1>
                    <form>
                        <div class="row py-5">
                            <div class="col-lg-3 col-md-12 col-12">
                                <div class="inputWithIcon">
                                    <input type="text" class="form-control" placeholder=" ">
                                    <span>
                                        <i class="fas fa-map-marker-alt"></i>
                                        Where are you going?
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-12">
                                <div class="inputWithIcon">
                                    <input type="text" class="form-control c-datepicker" placeholder=" ">
                                    <span>
                                        <i class="fas fa-calendar-week"></i> Check in-Check out
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-12">
                                <div class="inputWithIcon">
                                    <input type="text" class="form-control" placeholder=" ">
                                    <span>
                                        <i class="fas fa-user"></i>1 Adult,1Room
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-12">
                                <button type="button" class="btn btn-warning">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Top Destinations start -->
<section class="destinations  mb-4">
    <div class="container">
        <h2 class="section-head">Top Destinations</h2>
        <div class="row">
            <div class="col-md-4 col-lg-3 col-12">
                <div class="card" style="width: 18rem;">
                    <div>
                        <img class="card-img-top" src="~/img/china.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Prague </h5>
                        <p class="card-text">Czechia</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-12">
                <div class="card" style="width: 18rem;">
                    <div>
                        <img class="card-img-top" src="~/img/venice.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Paris </h5>
                        <p class="card-text">Czechia</p>
                    </div>
                </div>
            </div>
            <div class="size-card col-md-4 col-lg-6 col-12">
                <div class="card" style="width: 18rem;">
                    <div>
                        <img class="card-img-top" src="~/img/rio.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Rome </h5>
                        <p class="card-text">Italy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- July Deals start -->

<section class="july  mb-4">
    <div class="container">
        <h2 class="section-head">July Deals</h2>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-12">
                <div class="post-wrap m-auto shadow">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 col-12">
                            <img src="~/img/hotelitem.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-12 col-lg-6 col-12 card_text">
                            <h5>Cochem, Germany </h5>
                            <p>This apartment is set in the chic 14th arrondissement of Paris, 1476 feet from the Saint-Jacques Metro Station</p>
                            <button class="btn btn-warning">Book now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-12">
                <div class="post-wrap m-auto shadow">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 col-12">
                            <img src="~/img/hotelitem.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-12 col-lg-6 col-12 card_text">
                            <h5>Cochem, Germany </h5>
                            <p>This apartment is set in the chic 14th arrondissement of Paris, 1476 feet from the Saint-Jacques Metro Station.</p>
                            <button class="btn btn-warning">Book now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Recommended Flights start -->

<section class="recommed  mb-4">
    <div class="container">
        <h2 class="section-head">Recommended Flights</h2>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-12">
                <div class="post-wrap shadow">
                    <div class="row">
                        <div class="col-lg-4 col-12">
                            <div class="post-wrap__img">
                                <img src="~/img/hotelitem.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8 col-12" style="padding-left: 0px;">
                            <div class="post-wrap__content">
                                <div class="row">
                                    <div class="col-lg-8 col-8">
                                        <div class="post-wrap__title">
                                            <div>
                                                <img src="./img/trs1.png" alt=""> <span>London</span>
                                            </div>
                                            <div>
                                                <img src="./img/trs2.png" alt=""> <span>Santorini</span>
                                            </div>
                                            <div class="calend">
                                                <img src="./img/calendar.png" alt=""> <span>Jun 03 - Jun 04</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-4">
                                        <div class="post-wrap__right">
                                            <p>Returns from</p>
                                            <p><span class="price">$54</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-12">
                <div class="post-wrap shadow">
                    <div class="row">
                        <div class="col-lg-4 col-12">
                            <div class="post-wrap__img">
                                <img src="~/img/hotelitem.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8 col-12" style="padding-left: 0px;">
                            <div class="post-wrap__content">
                                <div class="row">
                                    <div class="col-lg-8 col-8">
                                        <div class="post-wrap__title">
                                            <div>
                                                <img src="./img/trs1.png" alt=""> <span>London</span>
                                            </div>
                                            <div>
                                                <img src="./img/trs2.png" alt=""> <span>Santorini</span>
                                            </div>
                                            <div class="calend">
                                                <img src="./img/calendar.png" alt=""> <span>Jun 03 - Jun 04</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-4">
                                        <div class="post-wrap__right">
                                            <p>Returns from</p>
                                            <p><span class="price">$54</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-12">
                <div class="post-wrap shadow">
                    <div class="row">
                        <div class="col-lg-4 col-12">
                            <div class="post-wrap__img">
                                <img src="~/img/hotelitem.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8 col-12" style="padding-left: 0px;">
                            <div class="post-wrap__content">
                                <div class="row">
                                    <div class="col-lg-8 col-8">
                                        <div class="post-wrap__title">
                                            <div>
                                                <img src="./img/trs1.png" alt=""> <span>London</span>
                                            </div>
                                            <div>
                                                <img src="./img/trs2.png" alt=""> <span>Santorini</span>
                                            </div>
                                            <div class="calend">
                                                <img src="./img/calendar.png" alt=""> <span>Jun 03 - Jun 04</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-4">
                                        <div class="post-wrap__right">
                                            <p>Returns from</p>
                                            <p><span class="price">$54</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-12">
                <div class="post-wrap shadow">
                    <div class="row">
                        <div class="col-lg-4 col-12">
                            <div class="post-wrap__img">
                                <img src="~/img/hotelitem.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8 col-12" style="padding-left: 0px;">
                            <div class="post-wrap__content">
                                <div class="row">
                                    <div class="col-lg-8 col-8">
                                        <div class="post-wrap__title">
                                            <div>
                                                <img src="./img/trs1.png" alt=""> <span>London</span>
                                            </div>
                                            <div>
                                                <img src="./img/trs2.png" alt=""> <span>Santorini</span>
                                            </div>
                                            <div class="calend">
                                                <img src="./img/calendar.png" alt=""> <span>Jun 03 - Jun 04</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-4">
                                        <div class="post-wrap__right">
                                            <p>Returns from</p>
                                            <p><span class="price">$54</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- July Deals start -->
<section class="world  mb-4">
    <div class="container">
        <h2 class="section-head">Get İnspired</h2>
        <div class="row">
            <div class="col-md-8 col-12">
                <img src="./img/world.png" style="width: 100%;" alt="">
            </div>
            <div class="col-md-4 col-12">
                <div class="txt">
                    <h3>Africa</h3>
                    <p>Asia</p>
                    <p>Europe</p>
                    <p>Latin America</p>
                    <p>Australia</p>
                    <p>United States</p>
                    <p>Canada</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- What do you want to do? start -->
<section class="related  mb-4">
    <div class="container">
        <h2 class="section-head">What do you want to do?</h2>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-12">
                <div class="card" style="width: 18rem;">
                    <div>
                        <img class="card-img-top" src="~/img/s1.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Vacation </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-12">
                <div class="card" style="width: 18rem;">
                    <div>
                        <img class="card-img-top" src="~/img/s2.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">History </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-12">
                <div class="card" style="width: 18rem;">
                    <div>
                        <img class="card-img-top" src="~/img/s3.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Tropical </h5>
                    </div>
                </div>
            </div>
        </div>
        <center>
            <button class="btn btn-warning">Discover more</button>
        </center>
    </div>
</section>
<script>

    $('.c-datepicker').pickadate();

</script>    